name: Run dbt Models

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *'  # Schedule to run every day at midnight UTC
  
jobs:
  run-dbt:
    runs-on: windows-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          repository: datafactz123/repo

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install dbt and dependencies
        run: |
          python -m pip install --upgrade pip
          pip install dbt
          pip install dbt-snowflake
          
      - name: Install dbt dependencies
        run: dbt deps --profiles-dir ${{ github.workspace }}\dfz --project-dir ${{ github.workspace }}\dfz
          
      - name: Run dbt models
        run: |
          dbt run --profiles-dir ${{ github.workspace }}\dfz --project-dir ${{ github.workspace }}\dfz
      - name: Run dbt tests
        run: |
          dbt test --profiles-dir ${{ github.workspace }}\dfz --project-dir ${{ github.workspace }}\dfz
